.actionLine {
    align-self: flex-start;
}

.adminButton {
    background-color: #3498db;
    color: white;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    margin: 1px;
}

img.pictureImage {
    width: 40px;
    height: 40px;
}
