/* Animations */
@keyframes slow-appear {
    from {opacity: .01;}
    to {opacity: 1;}
}
@keyframes slow-fade {
    from {opacity: 1;}
    99% {opacity: .01;}
    to {display: none;}
}
.slow-appear-animation {
    animation-name: slow-appear;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}
.slow-fade-animation {
    animation-name: slow-fade;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.TopNavbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.TopNavbarNav {
    width: 100%;
}

/*.TopNavbarList{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-start;*/
/*    align-items: stretch;*/
/*    padding-inline-start: 0; !* override browser default *!*/
/*    margin: 1vw 0*/
/*}*/

/*.TopNavbarList li {*/
/*    list-style: none;*/
/*    padding: 1vw; !* menuBorder *!*/
/*    font-size: 2vw;*/
/*    font-weight: normal;*/
/*    position: relative;*/
/*}*/

/*.TopNavbarList li a {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/

/*.TopNavbarSub {*/
/*    display: none;*/
/*    position: absolute;*/
/*    margin-top: 1vw; !* menuBorder *!*/
/*    padding: 0;*/
/*    right: 0;*/
/*    background-color: black;*/
/*    z-index: 2;*/
/*}*/

/*.TopNavbarSub li {*/
/*    font-size: 1.4vw;*/
/*    padding: 10px;*/
/*}*/

/*.TopNavbarSocial, .TopNavbarActions, .TopNavbarSide {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: stretch;*/
/*    !*font-size: 3.5vw;*!*/
/*}*/

.TopNavbarActions  {
    margin-inline-end: 10px;
}

.TopNavbarSocial{
    margin-inline-start: 10px;
}

.TopNavbarSocial > *, .TopNavbarActions > * {
    /*padding: .5vw;*/
    margin: 0;
    align-self: center;
    color: white;
}

.TopNavbarSide > button {
    height: fit-content;
    align-self: center;
    background: none repeat scroll 0 0 transparent;
    border-width: 1px;
    border-color: black;
    border-style: outset;
    border-radius: 5px;
    border-spacing: 0;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    font-size: 2vw;
}
