.container {
    width: 100%;
}

.actionLine {
    align-self: flex-start;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px auto;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}

.adminButton {
    background-color: #3498db;
    color: white;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    margin: 1px;
}

form {
    width: 98%;
    margin: 0 auto;
    background-color: #fff;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input#picture {
    width: fit-content;
    margin-inline-end: 10px;
    vertical-align: top;
}
img.pictureImage {
    width: 40px;
    height: 40px;
}

select {
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
